@using AppWeb.Models
@model List<UsuarioCls>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id Usuario</th>
            <th>Nombre Persona</th>
            <th>Nombre Usuario</th>
            <th>Nombre Rol</th>
            <th>Tipo Usuario</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdUsuario</td>
                <td>@item.NombrePersona</td>
                <td>@item.NombreUsuario</td>
                <td>@item.NombreRol</td>
                <td>@item.NombreTipoEmpleado</td>
                <td>
                    <button type="button" onclick="Editar(@item.IdUsuario)" class="bi bi-pencil-square btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                    <button type="button" onclick="Eliminar(@item.IdUsuario)" class="bi bi-trash btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalConfirmacion" />
                </td>
            </tr>
        }
    </tbody>
</table>
