@using AppWeb.Models
@model MarcaCls

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="row">
    <div class="col-md-6">
        <!--Siempre al crear un formulario usar Html.BeginForm-->
        @using (Html.BeginForm("Editar", "Marca", FormMethod.Post, new { @id = "frmEditar" }))
        {
            <div>
                @Html.LabelFor(p => p.IidMarca)
                @Html.TextBoxFor(p => p.IidMarca, new { @class = "form-control", @readOnly = "true" })
                @Html.ValidationMessage("IidMarca", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.Nombre)
                @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                @if (Model != null && Model.MensajeError != null)
                {
                    @Html.Label(Model.MensajeError, new { @class = "text-danger" })
                }
            </div>

            <div>
                @Html.LabelFor(p => p.Descripcion)
                @Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
            </div>
            <br />
            <div style="margin:auto">
                <input type="submit" class="btn btn-primary" value="Editar" />
                @Html.ActionLink("Regresar", "Index", "Marca", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>

<script>
    var frmEditar = document.getElementById("frmEditar");
    frmEditar.onsubmit = function (e) {
        e.preventDefault();

        if (confirm("¿Deseas guardar los cambios?") == 1) {
            frmEditar.submit();
        }

    }
</script>