@using AppWeb.Models
@model List<ViajeCls>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> ListaLugar = (List<SelectListItem>)ViewBag.ListaLugar;
    List<SelectListItem> ListaBus = (List<SelectListItem>)ViewBag.ListaBus;
}

<h2>Index</h2>
<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar
</button>

@using (Ajax.BeginForm("Filtrar", "Viaje", null, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "divViaje",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltrar" }))
{
    @Html.Label("Ingrese lugar destino")
    @Html.DropDownList("LugarDestinoParametro", ListaLugar, new { @class = "form-control" })

    <div id="divViaje">
        @Html.Partial("_TablaViaje", Model)
    </div>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Viaje", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "Error"
                /*UpdateTargetId = "DivRol",
                InsertionMode = InsertionMode.Replace*/
            }, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("Titulo")
                <div class="modal-body">
                    <div>
                        @Html.Label("Lugar de Origen")
                        @Html.DropDownList("IdLugarOrigen", ListaLugar, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Lugar Destino")
                        @Html.DropDownList("IdLugarDestino", ListaLugar, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Precio")
                        @Html.Editor("Precio", null, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    </div>
                    <div>
                        @Html.Label("Fecha de viaje")
                        @Html.Editor("FechaViaje", null, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    </div>
                    <div>
                        @Html.Label("Bus")
                        @Html.DropDownList("IdBus", ListaBus, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Número de Asientos")
                        @Html.Editor("Numero", null, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    </div>
                    <div>
                        @Html.Label("Foto")
                        <img width="150" height="150" id="imgFoto" style="display:block" />
                        @Html.TextBox("Foto", "", new { type = "file", id = "fupFoto" })
                    </div>
                    <div>
                        @Html.Hidden("NombreFoto")
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="BtnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
            <div id="Error">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="padding:1em">
                <button type="button" id="BtnCerrarConf" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="ConfirmarEliminar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Limpiar() {
        var controles = document.getElementsByClassName("form-control");
        var numcontroles = controles.length;
        for (var i = 0; i < numcontroles; i++) {
            controles[i].value = "";
        }
        document.getElementById("imgFoto").src = "";
        document.getElementById("Error").innerHTML = "";
    }

    function Agregar() {
        Limpiar();
        document.getElementById("Titulo").value = -1;

    }

    function Editar(IdViaje) {
        Limpiar();
        document.getElementById("Titulo").value = IdViaje;
        $.get("Viaje/RecuperarInformacion/?IdViaje=" + IdViaje, function (data) {
            document.getElementById("IdLugarOrigen").value = data.IdLugarOrigen;
            document.getElementById("IdLugarDestino").value = data.IdLugarDestino;
            document.getElementById("Precio").value = data.Precio;
            document.getElementById("FechaViaje").value = data.FechaViajeCadena;
            document.getElementById("IdBus").value = data.IdBus;
            document.getElementById("Numero").value = data.Numero;
            document.getElementById("Numero").value = data.Numero;
            document.getElementById("imgFoto").src = "data:image/" + data.Extension + ";base64," + data.FotoRecuperarCadena;
        })
    }

    var imgFoto = document.getElementById("imgFoto");
    var fupFoto = document.getElementById("fupFoto");
    fupFoto.onchange = function () {
        //0 para que tome primera imagen seleccionada
        var files = fupFoto.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            imgFoto.src = reader.result;
            document.getElementById("NombreFoto").value = files.name;
        }
        reader.readAsDataURL(files);
    }

    function Guardar(Respuesta) {
        if (Respuesta == 1) {
            alert("Se ejecutó correctamente!");
            document.getElementById("BtnCerrar").click();
            $("#frmFiltrar").trigger("submit");
        } else {
            alert("Ocurrió un error");
        }
    }

    //var frmFiltrar = document.getElementById("frmFiltrar");
    var LugarDestinoParametro = document.getElementById("LugarDestinoParametro");
    LugarDestinoParametro.onchange = function () {
        $('#frmFiltrar').trigger("submit");
    }

    function ConfirmarEliminar() {
        var IdViaje = document.getElementById("Titulo").value;
        $.get("Viaje/EliminarViaje/?IdViaje=" + IdViaje, function (data) {
            if (data == 1) {
                alert("Se ejecutó correctamente");
                document.getElementById("BtnCerrarConf").click();
                $("#frmFiltrar").trigger("submit");
            } else {
                alert("Ocurrió un error");
            }
        })
    }

    function Eliminar(IdViaje) {
        document.getElementById("Titulo").value = IdViaje;
    }

</script>
